{% extends "base.html" %}
{% load embed_video_tags %}


{% block 'content' %}
<div class="container">
	<a href="{% url 'homer:projects' %}"><button class="btn btn-primary my-2">  Back to Projects</button></a>
	
	{% if project.user == request.user %}
	    
	<div class="float-right items-center">
	
		<a href="{% url 'homer:update_project' project.pk %}"> <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-2 py-1 text-center mr-2 mb-2">Edit Project</button></a>

		<a href="{% url 'home:delete_project' project.pk %}"> <button onclick="return confirm('Do you really want to delete this project?')" type="button" class=" mt-4 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-2 py-1 text-center mr-2 ml-2 mb-2">Delete Project</button></a>
	</div>
	{% endif %}


</div>
<hr>
<div class="container grid grid-cols-2 gap-x-2">
	<div>
		<p class="font-bold text-2xl my-2"> {{ project.title }} </p>

		<div class="grid-cols-2 gap-1 justify-between">		
		{% for category in categories %}
			<span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">{{ category }}</span>
		{% endfor %}
		</div>

		<div class="grid-cols-2 gap-1 justify-between py-2">
		{% for keyword in keywords %}
			<span class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ keyword }}</span>
		{% endfor %}
		</div>
		<div class="grid grid-cols-2 gap-1 justify-between">
			
			 {% for image in images %} 
			<a href="{{ image.images.url }}" style="cursor: zoom-in !important;"> <img src="{{ image.images.url }}" class="card-img-top w-70 h-auto"> </a>	
				
			{% endfor %}
		</div>
		{% if project.video %}
		    <div class="content-center mx-auto text-center mt-4 mb-5">
		    	Project video:
		    	<div class="mx-auto object-center px-12 mt-2">	{% video project.video 'small' %} </div>			
			</div>
		{% else %}
		    <div>
		    	No video
		    </div>
		
		{% endif %}
		
	</div>
	<div class="my-2">
		
		<div class="max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
		    <a href="#">
		        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Project Description</h5>
		    </a>
		    <div class="row row-cols-2">
		    	<h5 class=" text-l font-bold tracking-tight text-gray-900 dark:text-white">Project Started: <span class="font-normal text-gray-700 dark:text-gray-400"> {{ project.date_started }} </span></h5>

		    	<h5 class=" text-l font-bold tracking-tight text-gray-900 dark:text-white">Project Ended: <span class="font-normal text-gray-700 dark:text-gray-400"> {{ project.date_ended }} </span></h5>
		    </div>
		    {% if  contributors %}
		    <div class="mt-2 flex">
		    	<h5 class=" text-l font-bold tracking-tight text-gray-900 dark:text-white">Contributors: 
		    	{% for contributor in contributors %}    		
		    	<span class="bg-gray-100 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900"> {{ contributor }} </span></h5>
		    	{% endfor %}
		    </div>
		    {% endif %}
		    
		    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ project.description|safe }}</p>


		</div>

	</div>

</div>
{% endblock 'content' %}
