<div class="container my-3">
<div class="row m-auto">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?coding,c#" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Python Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?programming,devops" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Data Analyst</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/500x300/?php,java" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Data Scientist</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
</div>